@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}


.app {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow-y: auto;
}
.app::-webkit-scrollbar {
  width: 10px;
  padding-top: 100px;
  @media screen and (max-width: 768px){
    display: none;
  }
}
.app::-webkit-scrollbar-thumb {
  border: 0.5px solid grey;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  filter: blur(5px);
  cursor: pointer;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
  max-width: 1920px;
  padding: 0 80px;
  margin: 0 auto;
  @media screen and (max-width: 1280px){
    padding: 0 40px;
  }
  @media screen and (max-width: 767px){
    padding: 0 16px;
  }
}

.page {
  min-height: calc(100svh - 124px);
  padding: 120px 20px 20px;
  justify-content: start;
   @media screen and (max-width: 768px){
      padding: 110px 20px 20px;
  }
   @media screen and (max-width: 767px){
      padding: 77px 16px 16px;
  }
}

/* Form Component */
.form_textarea {
 width: 100%;          
  display: flex;        
  border-radius: 0.5rem;
  height: 200px;         
  margin-top: 0.5rem;   
  padding: 0.75rem;    
  font-size: 0.875rem;   
  color: #6B7280;    
  outline: 0;               
  box-sizing: border-box; 
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}


.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.cards-list{
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  @media screen and (max-width: 1024px){
    grid-template-columns: repeat(2, 1fr);
  }
    @media screen and (max-width: 540px){
    grid-template-columns: repeat(1, 1fr);
  }
}
.banners_wrapper{
  display: flex;
}

.filter-wrapper{
  border: 0.8px solid grey;
  border-radius: 12px;
  padding: 5px 10px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.filter-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  @media screen and (max-width: 1024px){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.filter-button{
  margin: 10px auto;
  padding: 2px 8px;
  border: 1px solid lightslategrey;
  border-radius: 10px;
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  padding: 15px 8px 8px;
  width: max-content;
  height: max-content;
  background: white;
  border-radius: 4px;
  box-shadow:  0 0 10px 2px grey;
}

.menu_text1{
  font-weight: 800;
}

.season-tabs{
  width: 200px; 
  height: 60px; 
  text-align: center;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.season-tabs:not(:last-child){
  margin-right: 20px;
}
.card-image{
  max-width: 100%;
  max-height: 250px;
}
.select-list{
  width: 100%;
  display: flex;
  gap: 20px;
}
.select{
  width: 250px;
  height: 50px;
}
.align-center{
  align-items: center;
}
.pointer{
  cursor: pointer;
}
.capitalize{
  text-transform: capitalize;
}
.current-price{
  color: black;
  font-size: 25px;
  font-weight: 600;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 }

 .main-logo{
  width: auto;
  height: 100px;
  @media screen and (max-width: 767px){
    height: unset;
  }
 }

 .product_title{
  font-size: 16px;
  font-weight: 500;
 }

 .loader{
    width: 40px;
    height: 40px;
    border: 4px solid white; /* цвет фона круга */
    border-top-color: black; /* цвет движущейся части */
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
 }
 @keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loader_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    width: 60px;
    height: 60px;
  }
}

.MuiPagination-ul{
  margin: 20px auto;
  justify-content: center;
}

.filter__select{
  border: none;
  outline: none;
  background: white;
}
.filter__select:focus-visible{
  border: none;
  outline: none;
  background: white;
}